{% extends "base.html" %}
{% block title %} Search Customer - {{ block.super }} {% endblock title %}
{% load widget_tweaks %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Customer Data:</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Bank Name</th>
                        <th>Bank Account Number</th>
                        <th>PAN</th>
                        <th>Mobile Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Customer Name</th>
                        <th>Bank Name</th>
                        <th>Bank Account Number</th>
                        <th>PAN</th>
                        <th>Mobile Number</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for customer in filter %}
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.bank_name}}</td>
                        <td>{{customer.bank_account_number}}</td>
                        <td>{{customer.PAN}}</td>
                        <td>{{customer.mobile_number}}</td>
                        <td>
                            <a href="{% url 'customer_update' pk=customer.pk %}">
                                <i class="fa fa-fw fa-edit fa-lg"></i>
                            </a>
                            <a href="{% url 'customer_delete' pk=customer.pk %}">
                                <i class="fa fa-fw fa-trash fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No data</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}