{% extends "base.html" %}
{% block title %} Update Remitter - {{block.super}} {% endblock title %}
{% block content %}
<div class="container">
    <div class="jumbotron" style="padding-top:3%; padding-bottom:3%; margin-bottom:8%">
        <h1>Update Remitter:</h1>
        <form method="POST">
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock content %}