{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Create RTGS - {{ block.super }} {% endblock title %}
{% block content %}
<div class="container">
    <h1>Create RTGS:</h1>
    <div class="jumbotron" style="padding-top:3%; padding-bottom:3%; margin-bottom:8%">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <label for="remitter">Remitter Name:</label>
                    <select name="remitter" class="form-control" required id="remitter">
                        <option value="" selected>---------</option>
                        {% for remitter in remitters %}
                            <option value="{{remitter.id}}">{{ remitter.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_name">Customer Name:</label>
                    <input type="text" name="name" maxlength="256" class="form-control " required id="id_name" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_amount_in_figure">Amount in figure:</label>
                    <input type="number" name="amount_in_figure" step="0.01" class="form-control " required id="id_amount_in_figure" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_amount_in_word">Amount in word:</label>
                    <input type="text" name="amount_in_word" maxlength="1024" class="form-control " required id="id_amount_in_word" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="cheque_number">Cheque Number:</label>
                    <input type="text" name="cheque_number" maxlength="15" class="form-control " required id="id_cheque_number" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_name">Bank name:</label>
                    <input type="text" name="bank_name" maxlength="256" class="form-control " required id="id_bank_name" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_account_number">Bank account number:</label>
                    <input type="text" name="bank_account_number" maxlength="256" class="form-control " required id="id_bank_account_number" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_branch_name">Bank branch name:</label>
                    <input type="text" name="bank_branch_name" maxlength="256" class="form-control " required id="id_bank_branch_name" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_ifsc_code">Bank ifsc code:</label>
                    <input type="text" name="bank_ifsc_code" maxlength="256" class="form-control " required id="id_bank_ifsc_code" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_PAN">PAN:</label>
                    <input type="text" name="PAN" maxlength="10" class="form-control " required id="id_PAN" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_mobile_number">Mobile number:</label>
                    <input type="text" name="mobile_number" maxlength="10" class="form-control " required id="id_mobile_number" />
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_GSTIN">GSTIN:</label>
                    <input type="text" name="GSTIN" maxlength="256" class="form-control " required id="id_GSTIN" />
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock content %}