{% extends "base.html" %}

{% load widget_tweaks %}
    {% block title %}
    Create RTGS - {{ block.super }}
    {% endblock title %}

{% block CSSBlock %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock CSSBlock %} {% block content %}

<div class="container">
    <h1>Create RTGS:</h1>
    <div class="jumbotron" style="padding-top:3%; padding-bottom:3%; margin-bottom:8%">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6 col-md-6">
                    <label for="remitter">Remitter Name:</label>
                    <select name="remitter" class="form-control {% if form.remitter.errors %}is-invalid{% endif %}" required id="remitter">
                        {% if form.remitter.value %}
                        <option value="{{ form.remitter.value }}">{{ form.remitter.value }}</option>
                        {% else %}
                        <option value="" selected>---------</option>
                        {% endif %}
                        {% for remitter in remitters %}
                        <option value="{{remitter.id}}">{{ remitter.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        {{ form.remitter.errors }}
                    </div>
                </div>
                <input type="hidden" name="customer_id" maxlength="256" id="id_id">
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_name">Customer Name:</label>
                    {% if form.name.value %}
                        <input type="text" autocomplete="off" name="name" maxlength="256" value="{{form.name.value}}"
                            class="form-control is-valid" required id="id_name" list="id_name_data"/>
                    {% else %}
                        <input type="text" autocomplete="off" name="name" maxlength="256" class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                            required id="id_name" list="id_name_data" />
                    {% endif %}
                    <datalist name="name" id="id_name_data">
                        <option value="" selected id="replace_name_data">-</option>
                    </datalist>
                    <div class="invalid-feedback">{{ form.name.errors }}</div>
                </div>
                <div class="form-group col-sm-12 col-md-12">
                    <label for="id_amount_in_figure">Amount in figure:</label>
                    {% if form.amount_in_figure.value %}
                        <input type="number" name="amount_in_figure" step="0.01" value="{{form.amount_in_figure.value}}" class="form-control is-valid" required id="id_amount_in_figure" />
                    {% else %}
                        <input type="number" name="amount_in_figure" step="0.01" class="form-control {% if form.amount_in_figure.errors %}is-invalid{% endif %}"
                            required id="id_amount_in_figure" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.amount_in_figure.errors }}</div>
                </div>
                <div class="form-group col-sm-12 col-md-12">
                    <label for="id_amount_in_word">Amount in word:</label>
                    {% if form.amount_in_word.value %}
                        <input type="text" name="amount_in_word" maxlength="1024" value="{{form.amount_in_word.value}}"
                            class="form-control is-valid" required id="id_amount_in_word" />
                    {% else %}
                        <input type="text" name="amount_in_word" maxlength="1024" class="form-control {% if form.amount_in_word.errors %}is-invalid{% endif %}"
                            required id="id_amount_in_word" />
                    {% endif %}               
                    <div class="invalid-feedback">{{ form.amount_in_word.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="cheque_number">Cheque Number:</label>
                    {% if form.cheque_number.value %}
                        <input type="text" name="cheque_number" maxlength="15" value="{{form.cheque_number.value}}"
                            class="form-control is-valid" required id="id_cheque_number" />
                    {% else %}
                        <input type="text" name="cheque_number" maxlength="15" class="form-control {% if form.cheque_number.errors %}is-invalid{% endif %}"
                            required id="id_cheque_number" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.cheque_number.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_name">Bank name:</label>
                    {% if form.bank_name.value %}
                    <input type="text" name="bank_name" maxlength="256" value="{{form.bank_name.value}}"
                        class="form-control is-valid" required id="id_bank_name" />
                    {% else %}
                        <input type="text" name="bank_name" maxlength="256" class="form-control {% if form.bank_name.errors %}is-invalid{% endif %}"
                            required id="id_bank_name" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.bank_name.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_account_number">Bank account number:</label>
                    {% if form.bank_account_number.value %}
                        <input type="text" name="bank_account_number" maxlength="256" value="{{form.bank_account_number.value}}"
                            class="form-control is-valid" required id="id_bank_account_number"/>
                    {% else %}
                        <input type="text" name="bank_account_number" maxlength="256" class="form-control {% if form.bank_account_number.errors %}is-invalid{% endif %}"
                            required id="id_bank_account_number" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.bank_account_number.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_branch_name">Bank branch name:</label>
                    {% if form.bank_branch_name.value %}
                        <input type="text" name="bank_branch_name" maxlength="256" value="{{form.bank_branch_name.value}}"
                            class="form-control is-valid" required id="id_bank_branch_name" />
                    {% else %}
                        <input type="text" name="bank_branch_name" maxlength="256" class="form-control {%if form.bank_branch_name.errors %}is-invalid{% endif %}"
                            required id="id_bank_branch_name" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.bank_branch_name.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_bank_ifsc_code">Bank ifsc code:</label>
                    {% if form.bank_ifsc_code.value %}
                        <input type="text" name="bank_ifsc_code" maxlength="256" value="{{form.bank_ifsc_code.value}}"
                            class="form-control is-valid" required id="id_bank_ifsc_code" />
                    {% else %}
                        <input type="text" name="bank_ifsc_code" maxlength="256" class="form-control {% if form.bank_ifsc_code.errors %}is-invalid{% endif %}"
                            required id="id_bank_ifsc_code" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.bank_ifsc_code.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_PAN">PAN:</label>
                    {% if form.PAN.value %}
                        <input type="text" name="PAN" maxlength="10" value="{{form.PAN.value}}"
                            class="form-control is-valid" required id="id_PAN" />
                    {% else %}
                        <input type="text" name="PAN" maxlength="10" class="form-control {% if form.PAN.errors %}is-invalid{% endif %}" required
                            id="id_PAN" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.PAN.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_mobile_number">Mobile number:</label>
                    {% if form.mobile_number.value %}
                        <input type="text" name="mobile_number" maxlength="10" value="{{form.mobile_number.value}}"
                            class="form-control is-valid" required id="id_mobile_number" />
                    {% else %}
                        <input type="text" name="mobile_number" maxlength="10" class="form-control {% if form.mobile_number.errors %}is-invalid{% endif %}"
                            required id="id_mobile_number" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.mobile_number.errors }}</div>
                </div>
                <div class="form-group col-sm-6 col-md-6">
                    <label for="id_GSTIN">GSTIN:</label>
                    {% if form.GSTIN.value %}
                        <input type="text" name="GSTIN" maxlength="15" value="{{form.GSTIN.value}}"
                            class="form-control {% if form.GSTIN.errors %}is-invalid{% else%}is-valid{% endif %}" required id="id_GSTIN" />
                    {% else %}
                        <input type="text" name="GSTIN" maxlength="256" class="form-control {% if form.GSTIN.errors %}is-invalid{% endif %}" required
                            id="id_GSTIN" />
                    {% endif %}
                    <div class="invalid-feedback">{{ form.GSTIN.errors }}</div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block JScriptBlock %}
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function isInt(value) {
        return !isNaN(value) &&
            parseInt(Number(value)) == value &&
            !isNaN(parseInt(value, 10));
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var typingTimer;                 //timer identifier
    var doneTypingInterval = 1000;   //time in ms (1 second)

    //on keyup, start the countdown
    $('#id_name').keyup(function () {
        var id_name = $(this).val();
        clearTimeout(typingTimer);
        if (id_name.length >= 3) {
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }
    });

    //user is "finished typing," do something
    function doneTyping() {
        //do something
        $.ajax({
            url: "{% url 'customer-autocomplete' %}",
            data: {
                'q': $("input[id=id_name]").val()
            },
            dataType: 'json',
            success: function (data) {
                customers = data.result;
                var optionsValues = '<option value="" selected id="replace_name_data">-</option>';
                $.each(customers, function (id, text) {
                    optionsValues += '<option value="' + id + '">' + text + '</option>';
                });
                var options = $('#replace_name_data');
                options.replaceWith(optionsValues);
            }
        });
    }

    $('#id_name').on('autocompleteselect', function (e, ui) {
        console.log("e" + e);
        console.log("ui" + ui);
    });

    $("#id_name").change(function () {
        var end = $(this).val();
        if (!isInt(end)) {
            $("#id_id").val(end);
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'customer-get-data' %}",
            data: {
                "id": end,
            },
            dataType: 'json',
            success: function (data, status) {
                console.log("id: " + end);
                $("#id_id").val(end);
                $("#id_name").val(data.name);
                $("#id_bank_name").val(data.bank_name);
                $("#id_bank_account_number").val(data.bank_account_number);
                $("#id_bank_branch_name").val(data.bank_branch_name);
                $("#id_bank_ifsc_code").val(data.bank_ifsc_code);
                $("#id_PAN").val(data.PAN);
                $("#id_mobile_number").val(data.mobile_number);
                $("#id_GSTIN").val(data.GSTIN);
            }
        });
    });

    $("#searchbutton").click(function () {
        $.post("{% url 'customer-get-data' %}",
            {
                "id": $("input[id=id_name]").val(),
            },
            function (data, status) {
                alert("model: " + data.model + "\nStatus: " + status);
            }
        );
    });
</script>
{% endblock JScriptBlock %}