{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yielder - Legal Disclaimer</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
</head>

<body>
    <div class="container">
        <h1>Disclaimer</h1>
        <hr style="border-top-width: 2px;">
        <blockquote>
            <h2>Yielder</h2>
            <p>Copyright © 2018 Rohan Baddi. All rights reserved.</p>
            <p>
                <strong>*** END USER LICENSE AGREEMENT ***</strong>
            </p>

            <p>
                IMPORTANT: PLEASE READ THIS LICENSE CAREFULLY BEFORE USING THIS SOFTWARE.
            </p>
            <hr style="border-top-width: 2px;">
            <h2>1. LICENSE</h2>
            <p>
                Subject to the terms of this Agreement, Rohan Baddi grants to you a limited, non-exclusive, non-transferable license, without
                right to sub-license, to use Yielder in accordance with this Agreement and any other written agreement with Rohan Baddi.
                Rohan Baddi does not transfer the title of Yielder to you; the license granted to you is not a sale. This agreement is
                a binding legal agreement between Rohan Baddi and the purchasers or users of Yielder.
            </p>

            <p>
                Unless you have a different license agreement signed by Rohan Baddi your use of Yielder indicates your acceptance of this
                license agreement and warranty.
            </p>

            <p>
                By receiving, opening the file package, and/or using Yielder("Software") containing this software, you agree that this End
                User User License Agreement(EULA) is a legally binding and valid contract and agree to be bound by it. You
                agree to abide by the intellectual property laws and all of the terms and conditions of this Agreement.
            </p>

            <h2>2. DISTRIBUTION</h2>

            <p>
                Yielder and the license herein granted shall not be copied, shared, distributed, re-sold, offered for re-sale, transferred
                or sub-licensed in whole or in part. For information
                about redistribution of Yielder contact Rohan Baddi.
            </p>

            <h2>3. USER AGREEMENT</h2>

            <h3>3.1 Use</h3>

            <p>
                Your license to use Yielder is limited to the number of licenses purchased by you. You shall not allow others to use, copy
                or evaluate copies of Yielder.
            </p>

            <h3>3.2 Use Restrictions</h3>

            <p>
                You shall use Yielder in compliance with all applicable laws and not for any unlawful purpose. Without limiting the foregoing,
                use, display or distribution of Yielder together with material that is pornographic, racist, vulgar, obscene,
                defamatory, libelous, abusive, promoting hatred, discriminating or displaying prejudice based on religion,
                ethnic heritage, race, sexual orientation or age is strictly prohibited.
            </p>

            <p>
                Each licensed copy of Yielder may be used on one single computer location by one user. Use of Yielder means that you have
                loaded, installed, or run Yielder on a computer or similar device. If you install Yielder onto a multi-user
                platform, server or network, each and every individual user of Yielder must be licensed separately.
            </p>

            <p>
                You may not make any copy of Yielder for any purpose without the prior written consent of Rohan Baddi. The assignment, sublicense,
                networking, sale, or distribution of copies of Yielder are strictly forbidden without the prior written consent
                of Rohan Baddi. It is a violation of this agreement to assign, sell, share, loan, rent, lease, borrow, network
                or transfer the use of Yielder. If any person other than yourself uses Yielder registered in your name, regardless
                of whether it is at the same time or different times, then this agreement is being violated and you are responsible
                for that violation!
            </p>

            <h3>3.3 Copyright Restriction</h3>

            <p>
                This Software contains copyrighted material, trade secrets and other proprietary material. You shall not, and shall not attempt
                to, modify, reverse engineer, disassemble or decompile Yielder. Nor can you create any derivative works or
                other works that are based upon or derived from Yielder in whole or in part.
            </p>

            </p>
            Rohan Baddi's name, logo and graphics file that represents Yielder shall not be used in any way to promote products developed
            with Yielder . Rohan Baddi retains sole and exclusive ownership of all right, title and interest in and to Yielder
            and all Intellectual Property rights relating thereto.
            </p>

            </p>
            Copyright law and international copyright treaty provisions protect all parts of Yielder, products and services. No program,
            code, part, image, audio sample, or text may be copied or used in any way by the user except as intended within
            the bounds of the single user program. All rights not expressly granted hereunder are reserved for Rohan Baddi.
            </p>

            <h3>3.4 Limitation of Responsibility</h3>

            <p>
                You will indemnify, hold harmless, and defend Rohan Baddi, his employees, agents and distributors against any and all claims,
                proceedings, demand and costs resulting from or in any way connected with your use of Rohan Baddi's Software.
            </p>

            <p>THIS SOFTWARE IS PROVIDED BY ROHAN BADDI “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES,
                INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
                ARE DISCLAIMED. IN NO EVENT SHALL ROHAN BADDI BE LIABLE FOR ANY DIRECT, INDIRECT,
                INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE
                GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
                OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
                IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>

            <h3>3.5 Warranties</h3>

            <p>
                Except as expressly stated in writing, Rohan Baddi makes no representation or warranties in respect of this Software and
                expressly excludes all other warranties, expressed or implied, oral or written, including, without limitation,
                any implied warranties of merchantable quality or fitness for a particular purpose.
            </p>

            <h3>3.6 Termination</h3>

            <p>
                Any failure to comply with the terms and conditions of this Agreement will result in automatic and immediate termination
                of this license. Upon termination of this license granted herein for any reason, you agree to immediately
                cease use of Yielder and if applicable, destroy all copies of Yielder supplied under this Agreement. The financial obligations
                incurred by you shall survive the expiration or termination of this license.
            </p>

            <h2>4. CONSENT OF USE OF DATA</h2>

            <p>
                You agree that Rohan Baddi may collect and use information gathered in any manner as part of the product support services
                provided to you, if any, related to Yielder. Rohan Baddi may also use this information to provide notices
                to you which may be of use or interest to you.
            </p>

        </blockquote>
    </div>
</body>

</html>